.backImage{
	background-image: url("/resources/images/back-canal.jpg");
}

.loginWhoreBackgroundColor{
	border: 3px solid black;
	border-radius: 1em;
	margin-top: 5%; 
	background-color: #FCF8D3;
	box-shadow: 3px 3px 3px 3px #c7c7c7;
	
}

.loginBtn{
	width: 100%;
	margin: 1%;
}

.chunk{
	border: 1px solid red; 
	height: 35%; 
	margin: 0; 
	padding: 0;
}

.h2font{
	margin-top: 1%; 
	margin-left: 2%;
}

.divTotalBlock{
	border: 1px solid orange; 
	margin-top: 1%;
}

.picPlusID{
	display: inline-block; 
	border: 1px solid green; 
	width: 19%; 
	height: 75%;
}

.onlyPic{
	border: 1px solid blue; 
	height: 85%;
}

.onlyUser{
	display: inline-block;
}

textarea{
	resize: none;
}
